<h1>Stupid Coaching</h1>

<div class="container">
  <div class="post">
    <p><%=@question%></p>
    <p><em>-you</em></p>
  </div>
  <div class="post coach">
    <p><%=@answer%></p>
    <p><em>-coach</em></p>
  </div>
</div>

<a href="/ask">Ask a new question</a>
