<h1>Stupid Coaching</h1>
<div class="container">
<form action="answer" method="get" data-turbo="false">
  <p>Ask your coach anything</p>
  <input class="query" type="text" name="question">
  <input class="ask-btn" type="submit" value="Ask">
</form>
</div>
